@import "components/*"

body
    font-family: 'Roboto', 'helvetica-neue', Helvetica
    font-size: 16px
    font-weight: lighter
    background: cornsilk
    color: darkSlateGray
    margin: 0 auto
    width: 95%
    max-width: 30rem

h1, h2, h3, h4, h5, h6
    font-weight: 300

h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
