@import "components/*"

body
    font-family: 'helvetica-neue', Helvetica
    font-size: 16px
    font-weight: lighter
    background: cornsilk
    color: darkSlateGray
    padding: 1rem
    margin: 0 auto
    max-width: 30rem

h1, h2, h3, h4, h5, h6
    font-weight: light
