h1 Welcome to Harp.
h3 This is yours to own. Enjoy.

div(class="comment")
    div(class="comment-image")
        img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png")
    div(class="comment-content")
        h1 Comment!
        p Hello world!
        p Something something
        p(class="comment-detail") Comment detail, yo
