h1 Fresh Squeezed IPA

.timeline
    h2 Timeline
    .post
        div
            .service Instagram
            .date December 9
        .user @zachhalvorson
        img(src="https://placekitten.com/g/300/300")

    .post
        div
            .service Twitter
            .date December 8
        .user @dbader
        .content: p Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap. Hashtag typewriter banh mi.

    .post
        div
            .service Instagram
            .date December 9
        .user @mikek
        img(src="https://placekitten.com/g/200/200")
