@import "components/harp-bourbon/scss/bourbon";
@import "components/harp-bitters/scss/bitters";
@import "components/harp-neat/scss/neat";

body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}
