<!DOCTYPE html><html><head><link rel="stylesheet" href="main.css"></head><body><h1>harp-neat</h1>
<blockquote>
<p>A fluid grid framework built upon Bourbon and Sass</p>
</blockquote>
<h2>Dependencies</h2>
<ul>
<li><a href="http://nodejs.org/">NodeJS</a> – <em>Server-side JavaScript runtime</em></li>
<li><a href="http://harpjs.com/">Harp</a> – <em>The static web server with built-in preprocessing</em></li>
</ul>
<h2>Install</h2>
<p>To install Neat, you can <a href="https://github.com/harp/neat/archive/master.zip">download this repository</a> or use the <a href="http://component.io">Component</a> package manager.</p>
<pre><code class="language-bash">npm install -g component
component install harp/neat</code></pre>
<p>Your project will look something like this…</p>
<pre><code>myproject/                  &lt;-- your project root (or public dir if in framework-mode)
  |- components/            &lt;-- harp puts components here
  |   +- harp-bourbon/      &lt;-- where Bourbon is installed
  |   +- harp-neat/         &lt;-- where this lib is installed
  |       …
  |- main.scss              &lt;-- where you reference Bourbon and Neat 
  +- index.jade             &lt;-- where you reference main.css</code></pre>
<h2>Link</h2>
<p>Now, from within an <code>.scss</code> file in your project, you can <code>@import</code> Bourbon and Neat:</p>
<pre><code class="language-scss">@import &quot;components/harp-bourbon/scss/bourbon&quot;;
@import &quot;components/harp-neat/scss/neat&quot;;</code></pre>
<h2>Resources</h2>
<ul>
<li><a href="http://harpjs.com/docs">Harp documentation</a></li>
<li><a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html">Sass documentation</a></li>
<li><a href="http://bourbon.io/docs/">Bourbon documentation</a></li>
<li><a href="http://neat.bourbon.io/docs">Neat documentation</a></li>
</ul>
<h2>License</h2>
<p>This component is <a href="http://github.com/thoughtbot/bourbon">Neat</a>, which is Copyright © 2011-2013 thoughtbot and MIT licensed.</p>
</body></html>