.post
    background-color: tomato
    padding: 1rem
    display: flex

    &:not(:last-child)
        margin-top: 1rem

    > div
        justify-content: space-between

    .service
        font-weight: bold
        margin-bottom: .2rem
        font-size: 1.4rem

    .date
        text-transform: uppercase
        font-size: .8rem

    // .user
    img
        align-self: auto
        width: 100%
        height: auto
